body{
    background-color: #151515;
}

.banner-image{
    background-image: url("../images/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 481px;
}
.banner-header{
    color: #FF5E19;
    font-size: 70px;
    padding-top: 100px;
}
.banner-para{
    font-size: 30px;
    padding-top: 20px;
}
.section-panel{
    background-color: #0D0D0D;
    text-align: left;
    padding: 10px;
}
.calculation-panel{
    background-color: #0D0D0D;
    padding: 20px;
}
.total-color{
    color: #FF5E19;
}